button {
    font-size: 14px;
    font-weight: bold;
    border-radius: 6px;
    padding: 8px 20px;
    border: none;

}


.roll-dice-button {
    background: linear-gradient(135deg, #8c00b3, #6a1dff);
    /* Gradient background */
    color: white;
    margin-left: 10px;
    padding: 8px 22px;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.dice-result-label {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    padding: 12px;
    background-color: #f4f4f4;
    border-radius: 6px;
    margin-top: 10px;
}

.top-left,
.blue,
.bottom-left,
.red,
.bottom-right,
.green,
.top-right,
.yellow {
    color: white;
    border: 2px solid;
    background-image: none;
    box-shadow: none;
    border-radius: 0px;
    padding: 8px 16px;
    font-weight: bold;

}

.top-left {
    background-color: #52a5f8;
    border-color: #52a5f8;
}

.blue {
    background-color: #0db0f6;
    border-color: #52a5f8;
}

.bottom-left {
    background-color: #d9584a;
    border-color: #d9584a;
}

.red {
    background-color: #d9584a;
    border-color: #d9584a;
}

.bottom-right {
    background-color: #54fc42;
    border-color: #54fc42;
}

.green {
    background-color: #54fc42;
    border-color: #54fc42;
}

.top-right {
    background-color: #e0e93b;
    border-color: #e0e93b;
}

.yellow {
    background-color: #e0e93b;
    border-color: #e0e93b;
}

.transparent-inner {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.safe-place {
    background-color: purple;
    color: rgb(43, 43, 43);
    border: 2px solid grey;
    border-radius: 50%;
    padding: 8px 16px;
    margin: 5px;
}

.win {
    background-color: #b8498c;
    border-color: #b8498c;
    color: white;
    background-image: none;
    box-shadow: none;
    border-radius: 0px;
    font-weight: bold;
}